body{
  overflow-y: scroll;
  overflow-x: hidden;
 
}

a{

  color:white;
  text-decoration: none;
}
.navv h5,h4{
font-size: 24px;

}
.Gallery{

    overflow: hidden; 

}
.medina {
  display: inline-block;
  box-sizing: border-box;
  border: 1px  #000;
  transition: 0.2s;
}

.medina:hover {
  transform: scale(1.1);

}
.city{
    color:#b78c33;
}
#history{

  margin:30px;
  text-align: center;
  color:#eea81d

}
#history h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#eea81d
}
a :hover{
  color:#b78c33;
}
@media only screen and (max-width:425){

 h5{
  color:red;
    font-size:50px;
  }
}