.Jazz {
  width: 1294px;
  height: 500px;
}
.one {
  margin-left: 130px;
  padding-top: 50px;
}
.one h1 {
  color: #b78c33;
}
li {
  margin-top: -20px;
  margin-left: 35px;
  list-style-type: none;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffff 5%, #ffff 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #1f1d1f;
  display: inline-block;
  cursor: pointer;
  color: #cf811a;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 5px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #d49c21;
  margin-bottom: 30px;
}
.myButton:hover {
  background: linear-gradient(to bottom, #d49c21 5%, #d49c21 100%);
  background-color: #d49c21;
  color: #ffff;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.card-body {
  background-color: #1f1d1f;
  color: #f6f6f6;
}

ul li a {
  list-style-type: none;
}
.events-card {
  width: 330px;
  border-left: black 2px;
}
.card-img-event {
  width: 150px;
  height: 130px;
}
.card-img-event img {
  width: 100%;
}
.Like {
  width: 30px;
}
.acceuil-cward h5 {
  color: #b78c33;
}
.acceuil-cward2{
  display: flex;
}
/*********************aside******************/
.stick {
  height: 100%;
  top: 140px;
  position: sticky;
}
.events-card {
  margin-left: 90px;
}

.acceuil-cward {
  margin-left: 100px;
}

.cward {
  width: 750px;
}

@media only screen and (max-width: 1024px) {
  .acceuil-cward {
    margin-left:-10px;
  }
  .card-img-event {
    width: 170px;
    height: 120px;
    text-align: center;
  }
  .card {
    margin-left: auto;
    width: 360px;
  }
  .stick {
    position: sticky;
    top: 10px;
    margin-left: -20px;
  }
  .cward {
    margin-left: -100px;
  }
  .buttons {
    margin-left: 30px;
  }
}
@media (max-width: 976px) {
  .cward {
    margin-left: -40px;
  }
}
@media only screen and (max-width: 800px) {
  .Jazz {
    width: 114%;
    height: 250px;
  }
  .one h1 {
    font-size: 35px;
    text-align: center;
  }
  .one {
    margin-right: auto;
    margin-left: -40px;
    gap: 10px;
  }
  .cward {
    margin-left: 50px;
  }
  .events-card {
    margin-top: 40px;
    margin-left: auto;
    margin-left: auto;
    width: 340px;
  }
  .card-img-event {
    width: 150px;
    height: 130px;
  }
  .stick {
    margin-left: 0px;
  }
  .events-card {
    margin-right: 50px;
  }

  .myButton {
    margin: 0;
  }
  .stick {
    justify-content: center;
    margin-right: 0;
  }
}
@media only screen and (max-width: 766px) and (min-width:550px) {
  .one h1{
    margin-right:500px;
  }
  .stick {
    margin-left:-25px;
  }
  .card-img-event{
    height: 100px;
  }

  .acceuil-cward {
    margin-left: 10px;
  }
  .cward{
    margin-left:20px
  }
  .events-card {
    width: 200px;
  }
  .buttons {
    margin-left:-50px;
  }
  .cward {
    margin-left: -20px;
  }

  .card-img-event {
    height: 130px;
  }
}

@media only screen and (max-width: 461px) {
  .one h1{
    margin-right:-25px;
    font-size:44px
  }
  .acceuil-cward2{
    display:block;
  }
 
 
  
  .cward {
    width:550px;
    margin-left: -165px;
  }
  .card-img-event {
    width:100%;
    height: 250px;
  }
  .stick {
    margin-top:50px;
height:200px;
  width:300px;
  margin-left:-30px;
  }
  .buttons {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: -35px;
  }
 .footer{
   margin-top:-700px;
 }
}
@media only screen and (max-width: 380px) {
  .cward {
    margin-left:0px;
  }
  .card-img-event {
    width: 300px;
    height: 200px;
  }
  .stick {
    margin-left: 50px;
  }
  .buttons {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: -20px;
  }
}
